@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animate-spin-slow {
    animation: spin 5s linear infinite;
  }
}


@keyframes pulse-slow {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.5; }
}
.animate-pulse-slow {
  animation: pulse-slow 4s infinite;
}